.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}

.image_container {
  position: relative;
}

.contact_image {
  object-fit: contain;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input,
.form textarea {
  padding: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--bgSoft);
  color: var(--text);
}

.form button {
  padding: 20px;
  background-color: var(--btn);
  color: var(--text);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 45rem) {
  .container {
    grid-template-columns: 1fr;
  }
  .contact_image {
    display: none;
  }
}