.container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.875rem;
  font-weight: bold;
}

/* Navbar Links Group */

.links {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

/* Navbar Links */

.link_container {
  min-width: 100px;
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
  text-align: center;
}

.active_link_container {
  background-color: var(--text);
  color: var(--bg);
}

.logout {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.menu_button,
.mobile_links {
  display: none;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .menu_button {
    display: block;
    cursor: pointer;
  }

  .mobile_links {
    position: absolute;
    top: 100px;
    right: 0;
    width: 50%;
    height: calc(100vh - 100px);
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    overflow: hidden;
  }
}
