.container {
  min-height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: gray;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 1rem;
}

.logo {
  font-weight: bold;
}

.text {
  font-size: 0.75rem;
}
