.container {
  min-height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
}

.logo {
  font-weight: bold;
}

.text {
  font-size: 0.75rem;
}

@media (max-width: 45rem) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
}